<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oushuai.animal.dao.PhotoMapper" >
  <resultMap id="BaseResultMap" type="com.oushuai.animal.bean.Photo" >
    <id column="photo_id" property="id" jdbcType="INTEGER" />
    <result column="photo_name" property="photoName" jdbcType="VARCHAR" />
    <result column="photo_url" property="photoUrl" jdbcType="VARCHAR" />
    <result column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="photo_date" property="photoDate" jdbcType="TIMESTAMP" />
    <result column="read_times" property="readtimes" jdbcType="INTEGER" />
    <result column="is_recommend" property="isRecommend" jdbcType="TINYINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
   photo_id, photo_name, photo_url, album_id, photo_date, read_times, is_recommend, is_delete,
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oushuai.animal.bean.PhotoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from photo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from photo
    where photo_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from photo
    where photo_id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oushuai.animal.bean.PhotoExample" >
    delete from photo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oushuai.animal.bean.Photo" >
    insert into photo (photo_id, photo_name, photo_url,
      album_id, photo_date, read_times
      ,
      is_recommend, is_delete, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{photoName,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}, 
      #{albumId,jdbcType=INTEGER}, #{photoDate,jdbcType=TIMESTAMP}, #{readtimes,jdbcType=INTEGER}, 
      #{isRecommend,jdbcType=TINYINT}, #{isDelete,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oushuai.animal.bean.Photo" >
    insert into photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        photo_id,
      </if>
      <if test="photoName != null" >
        photo_name,
      </if>
      <if test="photoUrl != null" >
        photo_url,
      </if>
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="photoDate != null" >
        photo_date,
      </if>
      <if test="readtimes != null" >
        read_times,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="photoName != null" >
        #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null" >
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="albumId != null" >
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="photoDate != null" >
        #{photoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="readtimes != null" >
        #{readtimes,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oushuai.animal.bean.PhotoExample" resultType="java.lang.Integer" >
    select count(*) from photo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update photo
    <set >
      <if test="record.id != null" >
        photo_id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.photoName != null" >
        photo_name = #{record.photoName,jdbcType=VARCHAR},
      </if>
      <if test="record.photoUrl != null" >
        photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.albumId != null" >
        album_id = #{record.albumId,jdbcType=INTEGER},
      </if>
      <if test="record.photoDate != null" >
        photo_date = #{record.photoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.readtimes != null" >
        read_times = #{record.readtimes,jdbcType=INTEGER},
      </if>
      <if test="record.isRecommend != null" >
        is_recommend = #{record.isRecommend,jdbcType=TINYINT},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update photo
    set photo_id = #{record.id,jdbcType=INTEGER},
      photo_name = #{record.photoName,jdbcType=VARCHAR},
      photo_url = #{record.photoUrl,jdbcType=VARCHAR},
      album_id = #{record.albumId,jdbcType=INTEGER},
      photo_date = #{record.photoDate,jdbcType=TIMESTAMP},
    read_times = #{record.readtimes,jdbcType=INTEGER},
      is_recommend = #{record.isRecommend,jdbcType=TINYINT},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oushuai.animal.bean.Photo" >
    update photo
    <set >
      <if test="photoName != null" >
        photo_name = #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null" >
        photo_url = #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="albumId != null" >
        album_id = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="photoDate != null" >
        photo_date = #{photoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="readtimes != null" >
        read_times = #{readtimes,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where photo_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oushuai.animal.bean.Photo" >
    update photo
    set photo_name = #{photoName,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR},
      album_id = #{albumId,jdbcType=INTEGER},
      photo_date = #{photoDate,jdbcType=TIMESTAMP},
      read_times = #{readtimes,jdbcType=INTEGER},
      is_recommend = #{isRecommend,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where photo_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>